<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>COVID-19 cases</title>

</head>
<body>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.1/css/scroller.bootstrap.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/iconfinder_ic_virus_5803961.png" width="36" height="36" class="d-inline-block align-top"
                 alt=""></a>
    </nav>
    <h1>COVID-19 counts</h1>
    <!-- Content here -->
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Country</th>
            <th>
                <div data-toggle="tooltip" title="Number of COVID-19 cases tested and confirmed">Cases</div>
            </th>
            <th>
                <div data-toggle="tooltip" title="Increaase in cases yesterday">&Delta;</div>
            </th>
            <th>Fatalities</th>
            <th>
                <div data-toggle="tooltip" title="Increase in fatalities yesterday">&Delta;</div>
            </th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
    </table>
    <p>
    </p>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Data for this dashboard was downloaded from {{ .Url }} at {{ .UpdateTime }}</p>
        <p class="text-muted"><a href="https://github.com/amnonbc/covid19">source code</a></p>
    </div>
</footer>
</p>


</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": 'stats.json',
            "dataSrc": "",
            "paging": false,
            "order": [[1, 'desc']],
            "columns": [
                {
                    "data": "Location",
                    "render": function (data, type, row, meta) {
                        return `<a href="country.html?loc=${data}">${data}</a>`
                    }
                },
                {"data": "TotalCases"},
                {
                    "data": "NewCases",
                    "render": function (data, type, row, meta) {
                        var last = row.TotalCases - data;
                        if (last > 0) {
                            return "+" + (100 * data / last).toFixed(0) + "%";
                        }
                        return "";
                    }

                },
                {"data": "TotalDeaths"},
                {
                    "data": "NewDeaths",
                    "render": function (data, type, row, meta) {
                        var last = row.TotalDeaths - data;
                        if (last > 0) {
                            return "+" + (100 * data / last).toFixed(0) + "%";
                        }
                        return "";
                    }
                }

            ]

        })
    });
</script>
</html>